<!-- <p-button label="Submit" />
<p-button label="Primary" />
<p-button label="Secondary" severity="secondary" />
<p-button label="Success" severity="success" />
<p-button label="Info" severity="info" />
<p-button label="Warning" severity="warning" />
<p-button label="Help" severity="help" />
<p-button label="Danger" severity="danger" />
<p-button label="Contrast" severity="contrast" />
<br><br>
<div class="card">
  <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }"
  [rowsPerPageOptions]="[10, 25, 50]"
  [rows]="2"
  styleClass="p-datatable-gridlines" 
   [paginator]="true">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="code" style="width:20%">
              Code <p-sortIcon field="code" />
          </th>
          <th pSortableColumn="name" style="width:20%">
              Name <p-sortIcon field="name" />
          </th>
          <th pSortableColumn="category" style="width:20%">
              Category <p-sortIcon field="category" />
          </th>
          <th pSortableColumn="quantity" style="width:20%">
              Quantity <p-sortIcon field="quantity" />
          </th>
      </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
          <tr>
              <td>{{ product.code }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.category }}</td>
              <td>{{ product.quantity }}</td>
          </tr>
      </ng-template>
  </p-table>
</div>


 -->

 <!-- <div class="register-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Full Name</label>
      <input
        type="text"
        formControlName="fullname"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }"
      />
      @if (submitted && f['fullname'].errors) {
      <div class="invalid-feedback">
        @if (f['fullname'].errors['required']) {
        <div>Fullname is required</div>
        }
      </div>
      }
    </div>

    <div class="form-group">
      <label>Username</label>
      <input
        type="text"
        formControlName="username"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
      />
      @if (submitted && f['username'].errors) {
      <div class="invalid-feedback">
        @if (f['username'].errors['required']) {
        <div>Username is required</div>
        } @if (f['username'].errors['minlength']) {
        <div>Username must be at least 6 characters</div>
        } @if (f['username'].errors['maxlength']) {
        <div>Username must not exceed 20 characters</div>
        }
      </div>
      }
    </div>

    <div class="form-group">
      <label>Email</label>
      <input
        type="text"
        formControlName="email"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
      />
      @if (submitted && f['email'].errors) {
      <div class="invalid-feedback">
        @if (f['email'].errors['required']) {
        <div>Email is required</div>
        } @if (f['email'].errors['email']) {
        <div>Email is invalid</div>
        }
      </div>
      }
    </div>

    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
      />
      @if (submitted && f['password'].errors) {
      <div class="invalid-feedback">
        @if (f['password'].errors['required']) {
        <div>Password is required</div>
        } @if (f['password'].errors['minlength']) {
        <div>Password must be at least 6 characters</div>
        } @if (f['password'].errors['maxlength']) {
        <div>Username must not exceed 40 characters</div>
        }
      </div>
      }
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input
        type="password"
        formControlName="confirmPassword"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
      />
      @if (submitted && f['confirmPassword'].errors) {
      <div class="invalid-feedback">
        @if (f['confirmPassword'].errors['required']) {
        <div>Confirm Password is required</div>
        } @if (f['confirmPassword'].errors['matching']) {
        <div>Confirm Password does not match</div>
        }
      </div>
      }
    </div>

    <div class="form-group form-check">
      <input
        type="checkbox"
        formControlName="acceptTerms"
        class="form-check-input"
        [ngClass]="{ 'is-invalid': submitted && f['acceptTerms'].errors }"
      />
      <label for="acceptTerms" class="form-check-label"
        >I have read and agree to the Terms</label
      >
      @if (submitted && f['acceptTerms'].errors) {
      <div class="invalid-feedback">Accept Terms is required</div>
      }
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Register</button>
      <button
        type="button"
        (click)="onReset()"
        class="btn btn-warning float-right"
      >
        Reset
      </button>
    </div>
  </form>
</div>
 -->
 
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <!-- End Sidebar-->
  
    <main id="main" class="main">
      <router-outlet />
    </main>
    <!-- End #main -->
  
    <!-- ======= Footer ======= 
    <app-footer></app-footer>-->
    <!-- End Footer -->
  
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/main.js"></script>